body {
    margin: 0;
    /* Sørger for, at body fylder hele skærmen */
    background-color: rgb(59, 30, 84, 0.7);
}
#menuplacering {
    margin: 0;
    padding: 0;
    left: 250px;
    position: absolute;
    top: 240px;
    width: 100%;
    height: 150px; /* Menuens højde fylder de første 20% */
    text-align: left;
    background-color: rgb(212, 190, 228, 0.6); /* Violet med 50% gennemsigtighed */


    z-index: 10; /* Sørger for, at menuen er over baggrunden */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Valgfri skygge for visuelt løft */
}

#menuplacering_overskrift {
    margin: 0;
    padding: 10px;
    left: 250px;
    position: absolute;
    top: 5%;
    width: 100%;
    height: 9%; /* Menuens højde fylder de første 20% */
    text-align: center;
    background-color: rgb(155, 126, 189, 0.3); /* 0.5 er gennemsigtighed fra 0 (helt transparent) til 1 (helt uigennemsigtig) */


    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Valgfri skygge for visuelt løft */
}
