body {
    background-color: lightgray;
    padding:0px 10px 10px 10px;
}

#dataliste {
    background-color: white;
}

#listeoverskrift {
    
    background-color: black;
    position: sticky;
    top: 50px;
}

td {
    color: black;
}

th {
    color: white;
}

.top-row {
    background-color: gray;
    padding: 0px 0px 0px 0px;
    
}


.top-menu {
    padding: 0px 0px 0px 0px;
    margin:0;
   
}
h3 {
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 10px 10px;
    height: 50px;
    color: white;
    background-color: blue;
    text-align: center;
}

