@inherits LayoutComponentBase

<PageTitle>WindsorX</PageTitle>

<div class="page">
    <aside class="sidebar">
        @* VIGTIGT: denne wrapper gør, at CSS'en rammer *@
        <NavMenu />
    </aside>

    <main class="content">
        @Body
    </main>
</div>

