@page "/IndkobMenu1"
@inject NavigationManager Navigation

<link rel="stylesheet" href="/css/baggrund.css">




<br />


<div id="menuplacering_overskrift" class="col-12">
    <h1 style="font-size:65px; color: rgb(238, 238, 238); text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)">Indkøbs-menu</h1>
</div>

<br />
<br />
<div id="menuplacering" class="col-12">
    
    <button style="height:150px;font-size:30px;color: rgb(238, 238, 238);border-color: rgb(59, 30, 84);" class="btn btn-outline-dark btn-lg col-3" @onclick="OpretIndkobs_ordre">Opret indkøb</button>
    <button style="height:150px;font-size:30px;color: rgb(238, 238, 238);border-color: rgb(59, 30, 84);" class="btn btn-outline-dark btn-lg col-4" @onclick="ShowIndkobOversigt">Åbne indkøbs ordre</button>
    <button style="height:150px;font-size:30px;color:rgb(238, 238, 238);border-color: rgb(59, 30, 84);" class="btn btn-outline-dark btn-lg col-4" @onclick="lukkedeIndkoeb">Lukkede indkøb</button>

</div>

<br />

<div class="col-12">
   
    
</div>


<div>
    @ActiveComponent
</div>

@code {
    private RenderFragment? ActiveComponent;

    private void ShowIndkobOversigt()
    {
        Navigation.NavigateTo("/oversigt-indkoeb");

    }
    private void OpretIndkobs_ordre()
    {
        Navigation.NavigateTo("/indkob");

    }
    private void lukkedeIndkoeb()
    {
        
        Navigation.NavigateTo("/IndkobMenu1", forceLoad: true);
    }
}
