@layout SimpleLayout
@page "/"

<link href="/css/Index.css" rel="stylesheet" />

<PageTitle>Windsor 2026</PageTitle>
<TopMenuBootstrap/>


<div class="baggrund">
    <!-- Indhold af din forside -->
   

    <h1 style="color:black"> Test side  </h1>


</div>

