@page "/"
@layout MainLayout

<PageTitle>WindsorX 2027</PageTitle>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

<style>

    .forside1 {
        /* Reservér plads til sidebaren og udfyld resten */
        margin-left: var(--sidebar-width, 0px);
        width: calc(100vw - var(--sidebar-width, 0px));
        /* Fyld hele (dynamiske) viewport-højden */
        min-height: 100dvh; /* kan evt. fallbackes til 100vh for old mobile */
        /* Baggrundsbillede: centreret, beskåret til at dække, uden gentagelse */
        background: url('/Billeder/Baggrund2025.png') center / cover no-repeat;
        /* Centrer indholdet horisontalt og vertikalt */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Indre luft og forudsigelig box-model */
        padding: 2rem;
        box-sizing: border-box;
    }

    .forside2 {
        /* Reservér plads til sidebaren og udfyld resten */
        min-height: 100dvh;
       background-color:yellowgreen;
    }

</style>


<div class="forside2">
   <h1>ERP</h1>
</div>

