@page "/"
@layout MainLayout

<PageTitle>WindsorX 2027</PageTitle>
<style>
    .forside1 {
        background: url('/Billeder/Baggrund2025.png') no-repeat center center;
        background-size: contain; /* Viser hele billedet */
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Vertikal centrering af indholdet */
        align-items: center; /* Horisontal centrering */
        padding: 2rem;
    }


</style>
<div class="forside1">
    
</div>






