@layout SimpleLayout
@page "/"


<PageTitle>Windsor 2026</PageTitle>
<TopMenuBootstrap/>

<div class="baggrund">
    <!-- Indhold af din forside -->
    <h1>Test</h1>

    <h1> Welcome to your new app  </h1>


</div>

